body
{
   background-color: #121011;
   color: #F5F5F5;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
a
{
   color: #F5F5F5;
   text-decoration: none;
}
a:hover
{
   color: #18BC9C;
   text-decoration: none;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
   #wb_games
   {
      background-attachment: scroll !important;
   }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
{
   #wb_games
   {
      background-attachment: scroll !important;
   }
}
#wb_logo
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
}
#logo
{
   box-sizing: border-box;
   padding: 10px 2px 9px 2px;
   margin-right: auto;
   margin-left: auto;
   max-width: 970px;
}
#logo > .row
{
   margin-right: -2px;
   margin-left: -2px;
}
#logo > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 2px;
   padding-left: 2px;
   position: relative;
}
#logo > .row > .col-1
{
   float: left;
   height: 71px;
}
#logo > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#logo:before,
#logo:after,
#logo .row:before,
#logo .row:after
{
   display: table;
   content: " ";
}
#logo:after,
#logo .row:after
{
   clear: both;
}
@media (max-width: 240px)
{
#logo > .row > .col-1
{
   float: none;
   width: 100% !important;
   height: auto;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #121011;
   background-image: none;
   border: 0px solid #121011;
   box-sizing: border-box;
   margin: 2px 0 0 0 ;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 10px 15px 8px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
   height: 37px;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
   height: auto;
}
}
#wb_games
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   border: 0px solid #121011;
   box-sizing: border-box;
   margin: 0;
}
#games
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 55px 0 115px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#games > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#games > .col-1
{
   flex: 0 0 auto;
}
#games > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
@media (max-width: 0px)
{
#games > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#games-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.69;
}
#games-video
{
   background: #000000;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -99;
}
#games-video video
{
   object-fit: cover;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
}
#games-divider-bottom
{
   overflow: hidden;
   position: absolute;
   line-height: 0;
   bottom: 0%;
   left: 0;
   width: 100%;
   height: 0px;
   -webkit-transition: height 2000ms ease;
   transition: height 2000ms ease;
}
#games-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
#games-divider-bottom .divider-fill
{
   fill: #121011;
   transform-origin: bottom;
   transform: rotateY(0deg);
}
#games-divider-bottom.show
{
   height: 50px;
}
#wb_storesCards
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   position: relative;
}
#storesCards
{
   display: flex;
   position: relative;
   padding: 65px 0 30px 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:0px) 
{
#storesCards
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_introImage
{
   margin: 0;
   vertical-align: top;
}
#introImage
{
   border: 4px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_storesCard1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-width: 290px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   -webkit-animation: transform-scale-in 576ms cubic-bezier(0.39, 0.575, 0.565, 1) 0ms 1 normal both;
   animation: transform-scale-in 576ms cubic-bezier(0.39, 0.575, 0.565, 1) 0ms 1 normal both;
   max-width: 290px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#storesCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#storesCard1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_storesCard1:hover #storesCard1-card-item0
{
   -webkit-transform: rotate(0deg) scale(1.05,1.05) ;
   transform: rotate(0deg) scale(1.05,1.05) ;
   -webkit-transition: -webkit-transform 100ms linear 0ms;
   transition: transform 100ms linear 0ms;
}
#storesCard1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0 0 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#storesCard1-card-item2
{
   display: inline-block;
   height: 75px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #F5F5F5;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F5F5F5;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 75px;
}
#wb_storesCard1:hover #storesCard1-card-item2
{
   color: #18BC9C;
   -webkit-transition: color 100ms linear 0ms;
   transition: color 100ms linear 0ms;
}
#storesCard1-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#storesCard1-card-item2 i
{
   text-align: center;
   vertical-align: top;
   font-size: 75px;
   width: 75px;
}
#storesCard1-card-item3
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   line-height: 22.5px;
   text-align: center;
}
#wb_storesCard2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-width: 290px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   -webkit-animation: transform-scale-in 576ms cubic-bezier(0.39, 0.575, 0.565, 1) 200ms 1 normal both;
   animation: transform-scale-in 576ms cubic-bezier(0.39, 0.575, 0.565, 1) 200ms 1 normal both;
   max-width: 290px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#storesCard2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#storesCard2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_storesCard2:hover #storesCard2-card-item0
{
   -webkit-transform: rotate(0deg) scale(1.05,1.05) ;
   transform: rotate(0deg) scale(1.05,1.05) ;
   -webkit-transition: -webkit-transform 100ms linear 0ms;
   transition: transform 100ms linear 0ms;
}
#storesCard2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0 0 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#storesCard2-card-item2
{
   display: inline-block;
   height: 75px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #F5F5F5;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F5F5F5;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 75px;
}
#wb_storesCard2:hover #storesCard2-card-item2
{
   color: #18BC9C;
   -webkit-transition: color 100ms linear 0ms;
   transition: color 100ms linear 0ms;
}
#storesCard2-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#storesCard2-card-item2 i
{
   text-align: center;
   vertical-align: top;
   font-size: 75px;
   width: 75px;
}
#storesCard2-card-item3
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   line-height: 22.5px;
   text-align: center;
}
#wb_storesCard3
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-width: 290px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   -webkit-animation: transform-scale-in 576ms cubic-bezier(0.39, 0.575, 0.565, 1) 400ms 1 normal both;
   animation: transform-scale-in 576ms cubic-bezier(0.39, 0.575, 0.565, 1) 400ms 1 normal both;
   max-width: 290px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#storesCard3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#storesCard3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_storesCard3:hover #storesCard3-card-item0
{
   -webkit-transform: rotate(0deg) scale(1.05,1.05) ;
   transform: rotate(0deg) scale(1.05,1.05) ;
   -webkit-transition: -webkit-transform 100ms linear 0ms;
   transition: transform 100ms linear 0ms;
}
#storesCard3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0 0 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#storesCard3-card-item2
{
   display: inline-block;
   height: 75px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #F5F5F5;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F5F5F5;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 75px;
}
#wb_storesCard3:hover #storesCard3-card-item2
{
   color: #18BC9C;
   -webkit-transition: color 100ms linear 0ms;
   transition: color 100ms linear 0ms;
}
#storesCard3-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#storesCard3-card-item2 i
{
   text-align: center;
   vertical-align: top;
   font-size: 75px;
   width: 75px;
}
#storesCard3-card-item3
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   line-height: 22.5px;
   text-align: center;
}
#wb_assets
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #121011;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#assets
{
   box-sizing: border-box;
   padding: 55px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#assets > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#assets > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#assets > .row > .col-1
{
   float: left;
}
#assets > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#assets:before,
#assets:after,
#assets .row:before,
#assets .row:after
{
   display: table;
   content: " ";
}
#assets:after,
#assets .row:after
{
   clear: both;
}
@media (max-width: 576px)
{
#assets > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-image: linear-gradient(to bottom, #121011 0%, #1E1E2B 100%);
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0 0 50px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid5 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid5 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid5 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 0px)
{
#LayoutGrid5 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#LayoutGrid5-divider-bottom
{
   overflow: hidden;
   position: absolute;
   line-height: 0;
   bottom: 0%;
   left: 0;
   width: 100%;
   height: 0px;
   -webkit-transition: height 2000ms ease;
   transition: height 2000ms ease;
}
#LayoutGrid5-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
#LayoutGrid5-divider-bottom .divider-fill
{
   fill: #121011;
   transform-origin: bottom;
   transform: rotateY(0deg);
}
#LayoutGrid5-divider-bottom.show
{
   height: 50px;
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #121011;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 55px 15px 5px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contact > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 576px)
{
#contact > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_IconFont3
{
   background-color: transparent;
   background-image: none;
   border: 2px solid transparent;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 10px;
   padding: 10px 10px 10px 10px;
   line-height: 46px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont3
{
   overflow: visible;
   vertical-align: top;
   width: 100%;
   height: 100%;
}
#IconFont3
{
   fill: #FFFFFF;
   display: inline-block;
   font-size: 46px;
   vertical-align: middle;
   width: 45px;
}
#IconFont3:hover
{
   fill: #18BC9C;
}
#wb_IconFont3
{
   -webkit-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconFont3:hover
{
   -webkit-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconFont4
{
   background-color: transparent;
   background-image: none;
   border: 2px solid transparent;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 10px;
   padding: 10px 10px 10px 10px;
   line-height: 46px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont4
{
   overflow: visible;
   vertical-align: top;
   width: 100%;
   height: 100%;
}
#IconFont4
{
   fill: #FFFFFF;
   display: inline-block;
   font-size: 46px;
   vertical-align: middle;
   width: 45px;
}
#IconFont4:hover
{
   fill: #18BC9C;
}
#wb_IconFont4
{
   -webkit-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconFont4:hover
{
   -webkit-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconFont5
{
   background-color: transparent;
   background-image: none;
   border: 2px solid transparent;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 10px;
   padding: 10px 10px 10px 10px;
   line-height: 46px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont5
{
   overflow: visible;
   vertical-align: top;
   width: 100%;
   height: 100%;
}
#IconFont5
{
   fill: #FFFFFF;
   display: inline-block;
   font-size: 46px;
   vertical-align: middle;
   width: 45px;
}
#IconFont5:hover
{
   fill: #18BC9C;
}
#wb_IconFont5
{
   -webkit-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconFont5:hover
{
   -webkit-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconFont6
{
   background-color: transparent;
   background-image: none;
   border: 2px solid transparent;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 10px;
   padding: 10px 10px 10px 10px;
   line-height: 46px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont6
{
   overflow: visible;
   vertical-align: top;
   width: 100%;
   height: 100%;
}
#IconFont6
{
   fill: #FFFFFF;
   display: inline-block;
   font-size: 46px;
   vertical-align: middle;
   width: 45px;
}
#IconFont6:hover
{
   fill: #18BC9C;
}
#wb_IconFont6
{
   -webkit-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconFont6:hover
{
   -webkit-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 40px 0 10px 0;
   margin: 0;
   text-align: center;
}
#wb_Text10 div
{
   text-align: center;
}
#wb_Text10
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: center;
}
#Heading7
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#Shape3
{
   width: 200px;
   height: 2px;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px #F5F5F5 solid;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 25px 25px 25px 25px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card4-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card4-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card5
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 25px 25px 25px 25px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#Card5-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card5-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 20px 0 0 20px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #1ABC9C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#Card5-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card5-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: -40px 0 0 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 30px 80px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #121011;
   background-image: none;
   border: 0px solid #233140;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px 0 0 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid3 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid3 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid3 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid3 > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 0 60px 0;
}
@media (max-width: 0px)
{
#LayoutGrid3 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #121011;
   background-image: none;
   border: 0px solid #2C3E50;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 30px 15px 30px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid7 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 20px 0 10px 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 2px 0px;
   width: 100%;
}
#wb_CssMenu1 a
{
   display: block;
   color: #BDC3C8;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: calc(100% - 2px);
   box-sizing: border-box;
   height: 20px;
   padding: 0px 5px 0px 0px;
   vertical-align: middle;
   line-height: 20px;
   text-align: left;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_CardContainer1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   position: relative;
}
#CardContainer1
{
   display: flex;
   position: relative;
   padding: 50px 0 50px 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:0px) 
{
#CardContainer1
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-width: 290px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   max-width: 290px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card1:hover #Card1-card-item0
{
   -webkit-transform: rotate(0deg) scale(1.05,1.05) ;
   transform: rotate(0deg) scale(1.05,1.05) ;
   -webkit-transition: -webkit-transform 100ms linear 0ms;
   transition: transform 100ms linear 0ms;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 10px 0 0 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-width: 290px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   max-width: 290px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card2:hover #Card2-card-item0
{
   -webkit-transform: rotate(0deg) scale(1.05,1.05) ;
   transform: rotate(0deg) scale(1.05,1.05) ;
   -webkit-transition: -webkit-transform 100ms linear 0ms;
   transition: transform 100ms linear 0ms;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 10px 0 0 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_Card6
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-width: 290px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   max-width: 290px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#Card6-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card6-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card6:hover #Card6-card-item0
{
   -webkit-transform: rotate(0deg) scale(1.05,1.05) ;
   transform: rotate(0deg) scale(1.05,1.05) ;
   -webkit-transition: -webkit-transform 100ms linear 0ms;
   transition: transform 100ms linear 0ms;
}
#Card6-card-item1
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 10px 0 0 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_Card8
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-width: 290px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   max-width: 290px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#Card8-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card8-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card8:hover #Card8-card-item0
{
   -webkit-transform: rotate(0deg) scale(1.05,1.05) ;
   transform: rotate(0deg) scale(1.05,1.05) ;
   -webkit-transition: -webkit-transform 100ms linear 0ms;
   transition: transform 100ms linear 0ms;
}
#Card8-card-item1
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 10px 0 0 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_Card9
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-width: 290px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   max-width: 290px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#Card9-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card9-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card9:hover #Card9-card-item0
{
   -webkit-transform: rotate(0deg) scale(1.05,1.05) ;
   transform: rotate(0deg) scale(1.05,1.05) ;
   -webkit-transition: -webkit-transform 100ms linear 0ms;
   transition: transform 100ms linear 0ms;
}
#Card9-card-item1
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 10px 0 0 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_Card10
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   min-width: 290px;
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   max-width: 290px;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
}
#Card10-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card10-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card10:hover #Card10-card-item0
{
   -webkit-transform: rotate(0deg) scale(1.05,1.05) ;
   transform: rotate(0deg) scale(1.05,1.05) ;
   -webkit-transition: -webkit-transform 100ms linear 0ms;
   transition: transform 100ms linear 0ms;
}
#Card10-card-item1
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 10px 0 0 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: center;
}
#Heading1
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#Shape4
{
   width: 200px;
   height: 2px;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px #F5F5F5 solid;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 2px solid transparent;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 10px;
   padding: 10px 10px 10px 10px;
   line-height: 46px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont1
{
   overflow: visible;
   vertical-align: top;
   width: 100%;
   height: 100%;
}
#IconFont1
{
   fill: #FFFFFF;
   display: inline-block;
   font-size: 46px;
   vertical-align: middle;
   width: 45px;
}
#IconFont1:hover
{
   fill: #18BC9C;
}
#wb_IconFont1
{
   -webkit-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconFont1:hover
{
   -webkit-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_contxt
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: center;
}
#contxt
{
   color: #F5F5F5;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#Shape6
{
   width: 200px;
   height: 2px;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px #F5F5F5 solid;
}
#Breadcrumb1
{
   padding: 8px 10px 7px 10px;
   list-style: none;
   background-color: #121011;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: center;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 16px;
}
#Breadcrumb1 a
{
   color: #F5F5F5;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #18BC9C;
   text-decoration: none;
}
#Breadcrumb1 > .active
{
   color: #F5F5F5;
}
#Breadcrumb1 > .active a
{
   color: inherit;
   pointer-events: none;
}
#Breadcrumb1 > li + li:before
{
   content: "|";
   padding: 0 14px;
   color: #E1E1E1;
}
#wb_Hoglet_logo
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Hoglet_logo
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: scale-down;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 2px solid transparent;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 10px;
   padding: 10px 10px 10px 10px;
   line-height: 46px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont2
{
   overflow: visible;
   vertical-align: top;
   width: 100%;
   height: 100%;
}
#IconFont2
{
   fill: #FFFFFF;
   display: inline-block;
   font-size: 46px;
   vertical-align: middle;
   width: 45px;
}
#IconFont2:hover
{
   fill: #18BC9C;
}
#wb_IconFont2
{
   -webkit-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconFont2:hover
{
   -webkit-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
